@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Press+Start+2P&display=swap');
body {
    background-color: #111;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    width: 100vw;
    font-weight: 900;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    color: red;
}

iframe {
    width: 100vw;
    height: 100vh;
}

#fly-in {
    font-family: 'Orbitron', sans-serif;
    background-image: Relaxi;
    margin: 40vh auto;
    height: 20vh;
    text-transform: uppercase;
    color: yellow;
}

#fly-in span {
    display: block;
    font-size: .4em;
    opacity: .8;
}

#fly-in div {
    position: fixed;
    opacity: 0;
    left: 10vw;
    top: 55vh;
    width: 80vw;
    animation: switch 13s linear infinite;
}

@keyframes switch {
    100% {
        opacity: 1;
        transform: scale(50)
    }
    80% {
        opacity: 1;
        transform: scale(2)
    }
    60% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1)
    }
    40% {
        opacity: 1;
        filter: blur(1px);
        transform: scale(0.5)
    }
    20% {
        opacity: 1;
        filter: blur(2px);
        transform: scale(0.1)
    }
    0% {
        opacity: 0;
        filter: blur(3px);
        transform: scale(0.05)
    }
}


/* 

*/